/* CSS Document */

@font-face {
    font-family: DIN;
    src: url("../fonts/DINWeb.woff");
}

@font-face {
    font-family: DIN;
    src: url("../fonts/DINWeb-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: DIN;
    src: url("../fonts/DINWeb-Ita.woff");
    font-style: italic;
}

@font-face {
    font-family: DIN-Medium;
    src: url("../fonts/DINWeb-Medium.woff");
}

html {
    font-family: DIN, Arial;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    padding-top: 20px;
    color: #3D3C3F;
    font-family: DIN, Arial;
    font-size: 15px;
}

.leaderboard {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

a:hover {
    color: #f29400;
    text-decoration: none;
}

a {
    color: #8b8d8e;
}

h6.post-meta {
    font-size: small;
}

.vco-storyjs .twitter, .vco-storyjs .vcard, .vco-storyjs .messege, .vco-storyjs .credit, .vco-storyjs .caption, .vco-storyjs .zoom-in, .vco-storyjs .zoom-out, .vco-storyjs .back-home, .vco-storyjs .time-interval div, .vco-storyjs .time-interval-major div, .vco-storyjs .nav-container {
    font-family: "DIN" !important
}

.vco-storyjs h1.date, .vco-storyjs h2.date, .vco-storyjs h3.date, .vco-storyjs h4.date, .vco-storyjs h5.date, .vco-storyjs h6.date {
    font-family: "DIN" !important
}

.vco-storyjs .timenav h1, .vco-storyjs .flag-content h1, .vco-storyjs .era h1, .vco-storyjs .timenav h2, .vco-storyjs .flag-content h2, .vco-storyjs .era h2, .vco-storyjs .timenav h3, .vco-storyjs .flag-content h3, .vco-storyjs .era h3, .vco-storyjs .timenav h4, .vco-storyjs .flag-content h4, .vco-storyjs .era h4, .vco-storyjs .timenav h5, .vco-storyjs .flag-content h5, .vco-storyjs .era h5, .vco-storyjs .timenav h6, .vco-storyjs .flag-content h6, .vco-storyjs .era h6 {
    font-family: "DIN" !important
}

.vco-storyjs p, .vco-storyjs blockquote, .vco-storyjs blockquote p, .vco-storyjs .twitter blockquote p {
    font-family: "DIN" !important
}

.vco-storyjs .vco-feature h1, .vco-storyjs .vco-feature h2, .vco-storyjs .vco-feature h3, .vco-storyjs .vco-feature h4, .vco-storyjs .vco-feature h5, .vco-storyjs .vco-feature h6 {
    font-family: "DIN" !important
}

.timeline-tooltip {
    font-family: "DIN" !important
}

.banners table {
    padding: 2px;
    vertical-align: top;
}

.banners table tr td {
    padding: 2px;
    vertical-align: top;
}

.banner {
    padding-top: 10px;
    float: right;
}

.header {
    height: 130px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

#right ul.kachel-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

#right ul.kachel-nav li {
    margin: 0;
    padding: 0;
}

#right ul.kachel-nav li a {
    display: block;
    float: left;
    width: 124px;
    height: 124px;
    text-indent: -9999px;
    background-color: #b1b3b4;
}

#right ul.kachel-nav li a:hover {
    background-color: #f29400;
}

#right ul.kachel-nav li a.generic {

    margin-right: 1px;
    margin-bottom: 1px;
    width: 123px;
    background-size: 125px 125px;
}

#right ul.kachel-nav-green li a:hover {
    background-color: #72bf44;
}

#right ul.kachel-nav li a.generic h1 {
    text-indent: 0;
    color: white;
    font-size: large;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 1px;
    padding: 5px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 1px;
    margin-right: 1px;
    width: 123px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.top1 {
    background-image: url("/static/images/top1_systems_button.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.anniv {
    background-image: url("/static/images/squares/anniv25years.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.call {
    background-image: url("/static/images/squares/call.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.newsletter {
    background-image: url("/static/images/squares/newsletter.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.statistics {
    background-image: url("/static/images/statistics_button.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.list {
    background-image: url("/static/images/top500_list_button.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

#right ul.kachel-nav li a.green500 {
    background-image: url("/static/images/green500_keyvisual.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
    background-color: transparent;
}

#right ul.kachel-nav li a.top500 {
    background-image: url("/static/images/squares/kv1.png");
    margin-bottom: 1px;
    margin-right: 1px;
    background-size: 125px 125px;
}

ul#squarelist {
    list-style: none;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 0;
}

ul#squarelist li {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

ul#squarelist li a {
    display: table-cell;
    width: 275px;
    height: 275px;
    margin-right: 1px;
    margin-bottom: 1px;
    background-color: #f1f3f2;
    text-align: left;
    vertical-align: bottom;
    padding: 20px;
    color: #414143;
}

ul#squarelist a h3 {

    margin-bottom: 20px;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

ul#squarelist li a:hover {
    background: #f29400;
    color: white;
    cursor: hand;
    cursor: pointer;
    opacity: .9;
    text-decoration: none;
}

ul#social-icons {
    position: fixed;
    right: 0;
    top: 35%;
    list-style: none;
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}

ul#social-icons li a {
    display: block;
    height: 39px;
    width: 39px;
    margin: 0 0 10px;
}

ul#social-icons li a.twitter {
    background: url("/static/images/social/twitter_icon.png") #3d3c3f;
    background-size: 39px 39px;
}

ul#social-icons li a.twitter:hover {
    background-color: #f29400;
}

ul#social-icons li a.fb {
    background: url("/static/images/social/fb_icon.png") #3d3c3f;
    background-size: 39px 39px;
}

ul#social-icons li a.fb:hover {
    background-color: #f29400;
}

ul#social-icons li a.yt {
    background: url("/static/images/social/youtube_icon.png") #3d3c3f;
    background-size: 39px 39px;
}

ul#social-icons li a.yt:hover {
    background-color: #f29400;
}

ul#social-icons li a.flickr {
    background: url("/static/images/social/flickr_icon.png") #3d3c3f;
    background-size: 39px 39px;
}

ul#social-icons li a.flickr:hover {
    background-color: #f29400;
}

    .leaderboard_mobile {
        display: none;
    }

@media only screen and ( max-width: 728px ) {
    ul#social-icons {
        display: none;
    }

    .leaderboard {
        display: none;
    }

    .leaderboard_mobile {
        display: inline;
    }
}

.img-thumbnail {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    padding: 0px;
}

.front-section {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #F2F3F4;
    border: none;
}

.sectionheader {
    text-align: left;
    width: 100%;
    padding: 0px;
    font-size: x-large;
    margin-top: 0px;
    text-transform: uppercase;
    border-bottom: 4px solid #f29400;
}

.greenborder {
    border-bottom: 4px solid #72bf44;
}

.ranking {
    background: #b1b3b4;
    color: #ffffff;
    padding-left: 10px;
}

.system {
    background: #F2F3F4;
}

footer a {
    margin-right: 15px;

}

footer a.footer-link {
    text-transform: uppercase;
    font-size: 12px;
}

figure {
    position: relative;
    float: left;
    margin: 0 1px 1px 0;
}

figure img {
    width: 275px;
    height: 275px;
}

figure figcaption {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    bottom: 0px;
    width: 100%;
    height: 60px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px 0 10px;
    line-height: 17px;
    text-align: left;
}

.header_space {
    margin-top: 30px;
}

.header_space_extra {
    margin-top: 40px;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.nav > li > a {
    font-weight: normal;
    color: #b1b3b4;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar-collapse {
    padding-right: 0px;
}

.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: 20px;

}

.navbar-default {
    background-image: none;

}

h5 a {
    color: #414143;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
    font-size: 70%;
}

h1.page-title {
    text-transform: uppercase;
}

h2 a {
    color: #414143;
    font-weight: bold;
    outline: 0 none;
    text-decoration: none;
    font-size: 70%;
}


h1 {
    text-transform: none;
    font-size: xx-large;
}
h2 {
    text-transform: none;
    font-size: x-large;
}
h3 {
    text-transform: none;
    font-size: large;
}
h4 {
    font-size: medium;
}

h5 {
    text-transform: none;
    font-size: xx-large;
}

.sponsored_title {

    background-color: #f29400;
    color: white;
    margin-bottom: 10px;
    font-size: larger;
    display: inline;
    padding: 5px;
}



.top-slider .carousel-indicators{
    bottom: 200;
    position: absolute;
}
.top-slider .carousel-indicators li{
    border:1px solid #f29400;
}
.top-slider .carousel-indicators .active{
    background:#f29400;
}

.carousel-control.left, .banner-sec .carousel-control.right{
    background: none;
}


.carousel-control {
top: 300px;
}


iframe {
    width: 100%;
}

.back-to-top {
 background:transparent;
 position: fixed;
 bottom:10px;
 right:10px;
 padding:1em;
 z-index: 100;
}

.newsfeed h5 a {
    font-size: large;
    font-weight: bold;
    line-height: 1em;

}

footer.page {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  margin-top: 15px;
  padding: 15px 0 30px;
}
footer .separator {
  opacity: 0.3;
  margin: 0 10px;
}
.site-info {
  font-size: 90%;
  margin-top: 15px;
}
